{% extends 'bucketList.html.twig' %}

{% block title %}{{ parent() }} - Modification{% endblock %}


{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="jumbotron text-center mr-5 ml-5 mt-3 bg-warning">
        <h2>Modification </h2>
    </div>

    <div class="ml-5 w-50 mb-3">
        {% form_theme modificationForm "bootstrap_4_layout.html.twig" %}
        {{ form_start(modificationForm) }}
        {% if form_errors(modificationForm)  %}
            {{ form_errors(modificationForm) }}
        {% endif %}

        {{ form_label(modificationForm.nom) }}
        {{ form_widget(modificationForm.nom) }}

        {{ form_label(modificationForm.prenom) }}
        {{ form_widget(modificationForm.prenom) }}

        {{ form_label(modificationForm.pseudo) }}
        {{ form_widget(modificationForm.pseudo) }}

        {{ form_label(modificationForm.email) }}
        {{ form_widget(modificationForm.email) }}

        {{ form_label(modificationForm.plainPassword) }}
        {{ form_widget(modificationForm.plainPassword) }}



        <div class="mt-3">
            <button type="submit"  class="btn btn-outline-success">Modification</button>&nbsp; <a href="{{ path('user_delete', {'id': app.user.id}) }}" class="btn btn-danger">Supprimer mon compte</a>
        </div>
        {{ form_end(modificationForm) }}
    </div>

{% endblock %}


