{% extends 'bucketList.html.twig' %}

{% block title %}{{ parent() }} - Formulaire{% endblock %}

{% block body %}
    <div class="jumbotron text-center mr-5 ml-5 mt-3 bg-warning">
        <h2>Ajouter un wish</h2>
    </div>
    <div class="ml-5 w-50">
        {% form_theme wishForm "bootstrap_4_layout.html.twig" %}

        {{ form_start(wishForm) }}
        {% if form_errors(wishForm)  %}
            {{ form_errors(wishForm) }}
        {% endif %}


        {{ form_label(wishForm.title) }}
        {{ form_widget(wishForm.title) }}

        {{ form_label(wishForm.description) }}
        {{ form_widget(wishForm.description) }}


        {{ form_label(wishForm.author) }}
        <input type="text" id="{{ field_name(wishForm.author) }}"
               name="{{ field_name(wishForm.author) }}"
                value="{{ app.user.pseudo }}">

        {{ form_label(wishForm.category) }}
        {{ form_widget(wishForm.category) }}
        <div class="mt-2 mb-3">
            <button class="btn btn-outline-success">Enregistrer</button>&nbsp;<button  class="btn btn-danger " type="reset" >Annuler</button>
        </div>
        {{ form_end(wishForm) }}
    </div>

{% endblock %}



