{% form_theme wishForm "bootstrap_4_layout.html.twig" %}

                    {{ form_start(wishForm) }}
                    {% if form_errors(wishForm)  %}
                        {{ form_errors(wishForm) }}
                    {% endif %}


                    {{ form_label(wishForm.title) }}
                    {{ form_widget(wishForm.title) }}

                    {{ form_label(wishForm.description) }}
                    {{ form_widget(wishForm.description) }}


                    {{ form_label(wishForm.author) }}
                    {{ form_widget(wishForm.author) }}

                    <div class="w-50">
                        {{ form_label(wishForm.category) }}
                        {{ form_widget(wishForm.category) }}

                        {{ form_row(wishForm.image)}}
                    </div>
