{% extends 'bucketList.html.twig' %}

{% block title %} {{ parent() }} - Details {% endblock %}

{% block body %}
    <div class="jumbotron text-center mr-5 ml-5 mt-3 bg-warning">
        <h2 class="titre_detail "><a href="{{ path('wish_listes') }}" class="text-decoration-none text-dark">{{ wish.title }}</a></h2>
    </div>

    <section class="mt-3 mr-3 ml-3 mb-3">
        <div>
            <p class="text-left">Par {{ wish.author }}<br>
                {{ wish.dateCreated | date('d/m/Y H:i') }}
            </p>
        </div>

        <div style="
            display: flex;
            justify-content: center"
        >
            <p id="description" style="background: url({{ asset('img/vacance-plage.jpg') }});
                                    background-size: 600px 600px;
                                    height: 500px;
                                    text-align: justify;
                                    width: 600px;
                                    opacity: 60%;">

                <b>{{ wish.description }}</b>

            </p>
        </div>
    </section>
{% endblock %}

